<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">

    <div class="alert alert-danger" *ngIf="errors.login">{{errors.login}}</div>
    <div class="alert alert-success" *ngIf="status?.length > 0">Successfully logged in!</div>

    <form (ngSubmit)="onSignin(loginForm)" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">Username/Email</label>
          <input type="text" id="username" name="username" ngModel class="form-control">
          <span class="text-danger" *ngIf="errors?.username">{{errors.username}}</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control">
          <span class="text-danger" *ngIf="errors?.password">{{errors.password}}</span>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Sign in</button>
      </form>

 </div>
<div class="col-sm-2"></div>
</div>
