<div class="alert alert-success" *ngIf="statusMessage">{{statusMessage}}</div>
<div class="alert alert-danger" *ngIf="errors">{{errors}}</div>

<form [formGroup]="workflowProcessForm">
  <div class="form-group" *ngIf="id">
   <strong>ID: </strong>{{id}}
  </div>
  <div class="form-group">
    <label for="workflow_process_desc">Workflow Process Description</label>
    <input formControlName="workflow_process_desc" class="form-control">
    <app-show-errors [control]="workflowProcessForm.controls['workflow_process_desc']"></app-show-errors>
  </div>
  <button class="btn float-left" (click)="saveWorkflowProcess()" [disabled]="!workflowProcessForm.valid">Save</button>
</form>
