<div class="list-group">
  <div *ngFor="let item of navItems">
    <a *ngIf="item.children" (click)="isCollapsed = !isCollapsed" class="list-group-item layer-{{layer}}">{{ item.title }}</a>
    <a routerLink="{{ item.url }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!item.children"  class="list-group-item layer-{{layer}}">{{ item.title }}</a>
    <div [collapse]="isCollapsed"><app-sidebar *ngIf="item.children" [navItems]="item.children" [layer]="layer+1" ></app-sidebar></div>
  </div>
</div>
